
<form class="input-group" id="jumpToPageForm">
  <input type="number"
         name="page"
         class="form-control"
         id="jumpToPage"
         min="1"
         max="{{ page_obj.paginator.num_pages }}"
         placeholder="Jump to page" />
  <button class="btn btn-secondary"  type="submit">Go</button>
</form>
<script>
  $(document).ready(function() {
    var url = new URL(window.location.href);
    $('#jumpToPageForm').submit(function(e) {
      e.preventDefault()
      var url = new URL(window.location.href);
      url.searchParams.set("page", $('#jumpToPage').val());
      window.location.href = url.href;
    })
  })
</script>
