{% load i18n fontawesome %}

<nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0">
  <div class="container-fluid px-0">
    <div class="d-flex justify-content-between w-100"
         id="navbarSupportedContent">
      <div class="d-flex align-items-center"></div>
      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center">
        {% include "core/partials/user-dropdown.html" with class="text-gray-800" %}
      </ul>
    </div>
  </div>
</nav>
