{% raw %}
{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}{% endblock title %}
    </title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    {% block seo %}
      <meta name="description" content="{% block description %}{% endblock description %}" />
      <meta name="author" content="NINA" />
    {% endblock seo %}
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      {% endraw %}{% if ui %}
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" type="text/css" rel="stylesheet" />
      <link type="text/css" href="{% raw %}{% static 'css/volt.css' %}{% endraw %}" rel="stylesheet" />
      {% endif %}{% raw %}
    {% endblock css %}
    {% block head_javascript %}
    {% endblock head_javascript %}
  </head>
  <body class="prevent-overflow {% block body_class %}{% endblock body_class %}">
    {% block body %}
    {% endblock body %}
    {% block modal %}
    {% endblock modal %}
    {% block body_javascript %}
      <!-- Core -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/fontawesome.min.js"></script>
      <script src="{% static 'vendor/@popperjs/core/dist/umd/popper.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
      <!-- Slider -->
      <script src="{% static 'vendor/nouislider/distribute/nouislider.min.js' %}"></script>
      <!-- Smooth scroll -->
      <script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
      <!-- Datepicker -->
      <script src="{% static 'vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>
      <!-- Sweet Alerts 2 -->
      <script src="{% static 'vendor/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
      <!-- Moment JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
      <!-- Notyf -->
      <script src="{% static 'vendor/notyf/notyf.min.js' %}"></script>
      <script src="{% static 'js/app.js' %}"></script>
    {% endblock body_javascript %}
  </body>
</html>
{% endraw %}
