{% raw %}
{% extends 'core/base.html' %}

{% block title %}{% endraw %}
    {{ project_name }}
{% raw %}{% endblock title %}

{% block description %}{% endraw %}
    {{ project_name }}
{% raw %}{% endblock description %}


{% endraw %}
