[book]
authors = []
language = "en"
multilingual = false
src = "src"

[preprocessor.kroki-preprocessor]

[output.html]
git-repository-url = "https://github.com/{{ repo_org }}/{{ repo_name }}/"
edit-url-template = "https://github.com/{{ repo_org }}/{{ repo_name }}/edit/{{ default_branch_name }}/docs/{path}"
additional-css = ["theme/css/kroki.css"]
