{% extends 'python/pyproject.toml.jinja' %}

{% block dependencies %}
    {{ super() }}
    "python-slugify>=8.0.1",
    "Pillow==10.1.0",
    "rcssmin",
    "argon2-cffi",
    "psycopg[binary]",
    "backoff",
    "requests",
    "django>=5.0.0",
    "django-model-utils",
    "django-allauth",
    "django-crispy-forms",
    "crispy-bootstrap5",
    "django-health-check",
    "django-probes",
    "django-postgres-extra",
    "django-solo",
    "django-appconf>=1.0.6",
    "django-cors-headers>=4.3.1",
    "django-filter>=24.1",
    "slippers",
    "django-tables2>=2.7.0",
    "django-autocomplete-light>=3.11.0",
    {%- if rest %}"dj-rest-auth",
    "django-rest-framework",
    "drf-spectacular",
    "djangorestframework-simplejwt",
    "django-cors-headers",{% endif %}
    {%- if ldap %}"django-auth-ldap",{% endif %}
{% endblock %}

{% block project_extra %}
{{ super() }}
dev = [
  "Werkzeug[watchdog]",
  "ipdb",
  "pytest",
  "pytest-sugar",
  "coverage",
  "pre-commit",
  "factory-boy",
  "django-debug-toolbar",
  "django-extensions",
  "django-coverage-plugin",
  "pytest-django",
  "django-models2puml>=0.2"
]
prod = [
  "gunicorn",
  "sentry-sdk>=1.40.5"
]
{% endblock %}

{% block project_scripts %}
"manage.py" = "{{ project_slug }}:django_manage"
{% endblock %}

{% block extra %}
# ==== pytest ====
[tool.pytest.ini_options]
addopts = "--ds=config.settings.test --reuse-db"
minversion = "6.0"
python_files = [
  "tests.py",
  "test_*.py"
]

# ==== Coverage ====
[tool.coverage]

[tool.coverage.run]
include = ["app/**"]
omit = ["*/migrations/*", "*/tests/*"]
plugins = ["django_coverage_plugin"]
{% endblock %}
