{% extends 'base.html' %}

{% block body %}
  {% include 'ui/partials/sidenav.html' %}
  <main class="content">
    {% include 'ui/partials/topbar.html' %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}
  </main>
{% endblock body %}
{% block body_javascript %}
  {{ block.super }}
  {% if form %}{{ form.media }}{% endif %}
  {% if filter.form %}{{ filter.form.media }}{% endif %}
{% endblock body_javascript %}
