{% extends 'ui/base.html' %}

{% load crispy_forms_tags %}
{% load i18n fontawesome static %}

{% block content %}
  <div class="d-flex align-items-center mb-2">
    <h3 class="mb-0">{{ object }}</h3>
    {% block tags %}
    {% endblock tags %}
    <div class="ms-auto">
      <a href="../" class="btn btn-secondary">{% fa_icon icon='arrow-left' %} {% trans 'Back' %}</a>
      {% block page_actions %}
      {% endblock page_actions %}
    </div>
  </div>
  <div class="card border-0 shadow mb-4">
    <div class="card-body">
      {% if not protected %}
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for model_name, object_count in model_count %}
              <tr>
                <td>{{ model_name|capfirst }}</td>
                <td>{{ object_count }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="mt-5">
          <p>
            <strong>{% trans 'Warning:' %}</strong> {% trans 'Deleting will cause deletion also of these related objects' %}.
          </p>
          <ul>
            {{ deletable_objects|unordered_list }}
          </ul>
        </div>
        <form action="" method="post" class="mt-5">
          {{ form|crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
        </form>
      {% else %}
        <p>{% blocktrans %}The following objects prevents the deletion, you must delete them first.{% endblocktrans %}</p>
        <ul>
          {{ protected|unordered_list }}
        </ul>
      {% endif %}
    </div>
  </div>
  {% block extra %}
  {% endblock extra %}
{% endblock content %}
