{% extends 'ui/base.html' %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags i18n fontawesome %}

{% block content %}
  <div class="d-flex align-items-center mb-2">
    <h3 class="mb-0">
      {% block content-title %}
        {{ title }}
      {% endblock content-title %}
    </h3>
    {% block tags %}
    {% endblock tags %}
    <div class="ms-auto d-flex">
      {% if create_path %}<a class="btn btn-primary" href="{{ create_path }}">Create</a>{% endif %}
      {% block page_actions %}
      {% endblock page_actions %}
    </div>
  </div>
  {% if filter %}
    <div class="card border-0 shadow mb-4">
      <div class="card-body">
        <form method="get" class="form form-inline">
          {{ filter.form | crispy }}
          <div class="d-flex w-100 justify-content-center">
            <button type="submit" class="btn btn-info">{% trans 'Search' %}</button>
          </div>
        </form>
      </div>
    </div>
  {% endif %}
  <div class="card border-0 shadow mb-4">
    <div class="card-body">{% render_table table %}</div>
  </div>
{% endblock content %}
