default_stages: [pre-commit]

# sets up .pre-commit-ci.yaml to ensure pre-commit dependencies stay up to date
ci:
  autoupdate_schedule: weekly
  skip: []
  submodules: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: detect-private-key
      # Prevent committing inline conflict markers
      - id: check-merge-conflict
        args: [--assume-in-merge]

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.13.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.5
    hooks:
      - id: ruff
      - id: ruff-format

  - repo: local
    hooks:
      # Prevent committing .rej files
      - id: forbidden-files
        name: forbidden files
        entry: found Copier update rejection files
        description:
            review and remove .rej files before
            merging.
        language: fail
        files: "\\.rej$"

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
    -   id: detect-secrets

  - repo: https://github.com/fpgmaas/deptry.git
    rev: "0.23.0"
    hooks:
      - id: deptry
        args: ["--ignore", "DEP001"]

  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.0.1
    hooks:
      - id: creosote
        args:
          - '--venv=.venv'
          - '--path=.'
          - '--deps-file=pyproject.toml'
          - '--section=project.dependencies'

  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.4.1
    hooks:
    - id: zizmor
