# {{ project_name }}

## Setup
Install `python` and `pip`.

### Development
Just run `pip install -e .` and you are good to go!

### Development with docker
A basic docker image is already provided, run:
```
docker compose build
docker compose up
```
