services:
  app:
    build:
      context: .
    environment:
        DEBUG: True
    command: uv run main.py
    #command: uv run pdb -c continue main.py
    develop:
      watch:
        # Sync the working directory with the `/app` directory in the container
        - action: sync
          path: .
          target: /app
          ignore:
            - .venv/
        - action: rebuild
          path: ./pyproject.toml
