# SOME DESCRIPTIVE TITLE.
# Copyright (C) YEAR THE PACKAGE'S COPYRIGHT HOLDER
# This file is distributed under the same license as the PACKAGE package.
# FIRST AUTHOR <EMAIL@ADDRESS>, YEAR.
#
#, fuzzy
msgid ""
msgstr ""
"Project-Id-Version: PACKAGE VERSION\n"
"Report-Msgid-Bugs-To: \n"
"POT-Creation-Date: 2024-04-26 10:06+0200\n"
"PO-Revision-Date: YEAR-MO-DA HO:MI+ZONE\n"
"Last-Translator: FULL NAME <EMAIL@ADDRESS>\n"
"Language-Team: LANGUAGE <LL@li.org>\n"
"Language: \n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"

#: src/apps/core/apps.py:7
msgid "Core"
msgstr ""

#: src/apps/templates/account/account_inactive.html:6
#: src/apps/templates/account/account_inactive.html:9
msgid "Account Inactive"
msgstr ""

#: src/apps/templates/account/account_inactive.html:10
msgid "This account is inactive."
msgstr ""

#: src/apps/templates/account/email.html:7
msgid "Account"
msgstr ""

#: src/apps/templates/account/email.html:10
msgid "E-mail Addresses"
msgstr ""

#: src/apps/templates/account/email.html:12
msgid "The following e-mail addresses are associated with your account:"
msgstr ""

#: src/apps/templates/account/email.html:27
msgid "Verified"
msgstr ""

#: src/apps/templates/account/email.html:29
msgid "Unverified"
msgstr ""

#: src/apps/templates/account/email.html:32
msgid "Primary"
msgstr ""

#: src/apps/templates/account/email.html:40
msgid "Make Primary"
msgstr ""

#: src/apps/templates/account/email.html:43
msgid "Re-send Verification"
msgstr ""

#: src/apps/templates/account/email.html:46
msgid "Remove"
msgstr ""

#: src/apps/templates/account/email.html:52
{% if ui %}#: src/apps/ui/templates/ui/delete.html:38{% endif %}
msgid "Warning:"
msgstr ""

#: src/apps/templates/account/email.html:52
msgid ""
"You currently do not have any e-mail address set up. You should really add "
"an e-mail address so you can receive notifications, reset your password, etc."
msgstr ""

#: src/apps/templates/account/email.html:55
msgid "Add E-mail Address"
msgstr ""

#: src/apps/templates/account/email.html:59
msgid "Add E-mail"
msgstr ""

#: src/apps/templates/account/email.html:66
msgid "Do you really want to remove the selected e-mail address?"
msgstr ""

#: src/apps/templates/account/email_confirm.html:7
#: src/apps/templates/account/email_confirm.html:10
msgid "Confirm E-mail Address"
msgstr ""

#: src/apps/templates/account/email_confirm.html:14
#, python-format
msgid ""
"Please confirm that <a href=\"mailto:%(email)s\">%(email)s</a> is an e-mail "
"address for user %(user_display)s."
msgstr ""

#: src/apps/templates/account/email_confirm.html:19
msgid "Confirm"
msgstr ""

#: src/apps/templates/account/email_confirm.html:24
#, python-format
msgid ""
"This e-mail confirmation link expired or is invalid. Please <a "
"href=\"%(email_url)s\">issue a new e-mail confirmation request</a>."
msgstr ""

#: src/apps/templates/account/login.html:8
#: src/apps/templates/account/login.html:11
#: src/apps/templates/account/login.html:30
msgid "Sign In"
msgstr ""

#: src/apps/templates/account/login.html:14
#, python-format
msgid ""
"If you have not created an account yet, then please <a "
"href=\"%(signup_url)s\">sign up</a> first."
msgstr ""

#: src/apps/templates/account/login.html:29
msgid "Forgot Password?"
msgstr ""

#: src/apps/templates/account/logout.html:6
#: src/apps/templates/account/logout.html:9
#: src/apps/templates/account/logout.html:18
msgid "Sign Out"
msgstr ""

#: src/apps/templates/account/logout.html:10
msgid "Are you sure you want to sign out?"
msgstr ""

#: src/apps/templates/account/password_change.html:7
#: src/apps/templates/account/password_change.html:10
#: src/apps/templates/account/password_change.html:16
#: src/apps/templates/account/password_reset_from_key.html:7
#: src/apps/templates/account/password_reset_from_key.html:14
#: src/apps/templates/account/password_reset_from_key_done.html:6
#: src/apps/templates/account/password_reset_from_key_done.html:9
msgid "Change Password"
msgstr ""

#: src/apps/templates/account/password_reset.html:8
#: src/apps/templates/account/password_reset.html:11
#: src/apps/templates/account/password_reset_done.html:7
#: src/apps/templates/account/password_reset_done.html:10
msgid "Password Reset"
msgstr ""

#: src/apps/templates/account/password_reset.html:16
msgid ""
"Forgotten your password? Enter your e-mail address below, and we'll send you "
"an e-mail allowing you to reset it."
msgstr ""

#: src/apps/templates/account/password_reset.html:25
msgid "Reset My Password"
msgstr ""

#: src/apps/templates/account/password_reset.html:27
msgid "Please contact us if you have any trouble resetting your password."
msgstr ""

#: src/apps/templates/account/password_reset_done.html:15
msgid ""
"We have sent you an e-mail. Please contact us if you do not receive it "
"within a few minutes."
msgstr ""

#: src/apps/templates/account/password_reset_from_key.html:12
msgid "Bad Token"
msgstr ""

#: src/apps/templates/account/password_reset_from_key.html:20
#, python-format
msgid ""
"The password reset link was invalid, possibly because it has already been "
"used.  Please request a <a href=\"%(passwd_reset_url)s\">new password reset</"
"a>."
msgstr ""

#: src/apps/templates/account/password_reset_from_key.html:30
msgid "change password"
msgstr ""

#: src/apps/templates/account/password_reset_from_key.html:33
#: src/apps/templates/account/password_reset_from_key_done.html:10
msgid "Your password is now changed."
msgstr ""

#: src/apps/templates/account/password_set.html:7
#: src/apps/templates/account/password_set.html:10
#: src/apps/templates/account/password_set.html:19
msgid "Set Password"
msgstr ""

#: src/apps/templates/account/signup.html:7
msgid "Signup"
msgstr ""

#: src/apps/templates/account/signup.html:10
#: src/apps/templates/account/signup.html:25
msgid "Sign Up"
msgstr ""

#: src/apps/templates/account/signup.html:12
#, python-format
msgid ""
"Already have an account? Then please <a href=\"%(login_url)s\">sign in</a>."
msgstr ""

#: src/apps/templates/account/signup_closed.html:6
#: src/apps/templates/account/signup_closed.html:9
msgid "Sign Up Closed"
msgstr ""

#: src/apps/templates/account/signup_closed.html:10
msgid "We are sorry, but the sign up is currently closed."
msgstr ""

#: src/apps/templates/account/verification_sent.html:6
#: src/apps/templates/account/verification_sent.html:9
#: src/apps/templates/account/verified_email_required.html:6
#: src/apps/templates/account/verified_email_required.html:9
msgid "Verify Your E-mail Address"
msgstr ""

#: src/apps/templates/account/verification_sent.html:11
msgid ""
"We have sent an e-mail to you for verification. Follow the link provided to "
"finalize the signup process. Please contact us if you do not receive it "
"within a few minutes."
msgstr ""

#: src/apps/templates/account/verified_email_required.html:12
msgid ""
"This part of the site requires us to verify that\n"
"you are who you claim to be. For this purpose, we require that you\n"
"verify ownership of your e-mail address. "
msgstr ""

#: src/apps/templates/account/verified_email_required.html:17
msgid ""
"We have sent an e-mail to you for\n"
"verification. Please click on the link inside this e-mail. Please\n"
"contact us if you do not receive it within a few minutes."
msgstr ""

#: src/apps/templates/account/verified_email_required.html:22
#, python-format
msgid ""
"<strong>Note:</strong> you can still <a href=\"%(email_url)s\">change your e-"
"mail address</a>."
msgstr ""
{% if ui %}

#: src/apps/ui/templates/ui/create.html:7
#: src/apps/ui/templates/ui/create.html:13
msgid "Create"
msgstr ""

#: src/apps/ui/templates/ui/delete.html:12
#: src/apps/ui/templates/ui/detail.html:16
#: src/apps/ui/templates/ui/form.html:12
#: src/apps/ui/templates/ui/update.html:12
msgid "Back"
msgstr ""

#: src/apps/ui/templates/ui/delete.html:38
msgid "Deleting will cause deletion also of these related objects"
msgstr ""

#: src/apps/ui/templates/ui/delete.html:47
#: src/apps/ui/templates/ui/detail.html:19
#: src/apps/ui/templates/ui/update.html:15
msgid "Delete"
msgstr ""

#: src/apps/ui/templates/ui/delete.html:50
msgid ""
"The following objects prevents the deletion, you must delete them first."
msgstr ""

#: src/apps/ui/templates/ui/form.html:30
msgid "Submit"
msgstr ""

#: src/apps/ui/templates/ui/list.html:27
msgid "Search"
msgstr ""

#: src/apps/ui/templates/ui/partials/table.html:86
msgid "previous"
msgstr ""

#: src/apps/ui/templates/ui/partials/table.html:106
msgid "next"
msgstr ""

#: src/apps/ui/templates/ui/update.html:29
msgid "Update"
msgstr ""

{% endif %}
#: src/apps/users/admin.py:22
msgid "Personal info"
msgstr ""

#: src/apps/users/admin.py:24
msgid "Permissions"
msgstr ""

#: src/apps/users/admin.py:35
msgid "Important dates"
msgstr ""

#: src/apps/users/apps.py:9
msgid "Users"
msgstr ""

#: src/apps/users/forms.py:26
msgid "This email has already been taken."
msgstr ""

#: src/apps/users/models.py:13
msgid "email address"
msgstr ""

#: src/apps/users/views.py:29
msgid "Information successfully updated"
msgstr ""

#: src/config/settings/base.py:33
msgid "English"
msgstr ""

#: src/config/settings/base.py:34
msgid "Norsk"
msgstr ""

#: src/{{ project_slug }}/apps.py:9
msgid "{{ project_name}}"
msgstr ""
